<form #createMeetingForm="ngForm" (ngSubmit)="onSubmit()">
    <div class="modal-header">
      <h4 class="modal-title">Please Add meeting details</h4>
      <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="form-group">
        <label>Meeting Agenda</label>
        <input type="text" name="meetingPurpose" [(ngModel)]="meetingPurpose" #purpose="ngModel" 
        class="form-control" placeholder="Meeting Agenda" required>
    </div>
    <div class="form-group">
      
        <div class="timediv">
        <label class="timelabel">Start Time</label>
        <input type="text" name="meetingStartTime" [(ngModel)]="meetingStartTime" #startTime="ngModel" 
        class="form-control" placeholder="24-hour format Ex-0900" required>
        </div><span>-</span>
        <div class="timediv">
          <label class="timelabel">End Time</label>
          <input type="text" name="meetingEndTime" [(ngModel)]="meetingEndTime" #endTime="ngModel" 
          class="form-control" placeholder="24-hour format Ex-0930" required>
        </div>
    </div>
    <div class="form-group">
        <label>Location</label>
        <input type="text" name="meetingLocation" [(ngModel)]="meetingLocation" #location="ngModel" 
        class="form-control" placeholder="Meeting Location" required>
    </div>
    <div class="form-group">
        <label>Created By</label>
        <input type="text" name="meetingCreatedBy" [(ngModel)]="meetingCreatedBy" #createdBy="ngModel" 
        class="form-control" placeholder="Meeting Created By" disabled>
    </div>
    </div>
    <div class="modal-footer">
      <button  class="btn btn-outline-success" (click)="onClick()">Submit</button>
      <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
    </div>
  </form>