<div class="container">
    <div><h1 class="center"> {{ day}} - {{month}} - {{year}}</h1></div>
    <table class="table table-bordered">
        
        <tbody>
          <tr>
            <td>00 AM - 01 AM</td>
            <td>01 AM - 02 AM</td>
            <td>02 AM - 03 AM</td>
            <td>03 AM - 04 AM</td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        </tbody>
       
      </table>
</div>