<div class="modal-header">
      <h4 class="modal-title">{{meeting.purpose}}</h4>
      <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
</div>
<div class="modal-body">
      <div *ngIf="meeting">
           <p>Date: {{day}}-{{month}}-{{year}}</p>
            <p>Starts at : {{meeting.startTime}}</p>
            <p>Ends at: {{meeting.endTime}}</p>
            <p>Location: {{meeting.location}}</p>
            <p>Created by {{meeting.createdBy}} on {{meeting.createdOn | date}}</p>

      </div>      
</div>
<div class="modal-footer">
      <button  class="btn btn-primary" (click)="editThisMeeting()" *ngIf="isAdmin">Edit</button>
      <button  class="btn btn-danger" (click)="deleteThisMeeting(meeting)" *ngIf="isAdmin">Delete</button>
      <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
</div>